@media (max-width: 768px){
	.intro img{
	    width: 340px;
    	height: 200px !important;
	}
	#sobre img{
		height: 385px !important;
	}
	.table-responsive{
		border: none !important;
	}
}

@media (max-width: 600px){
	#imagemEbook{
	    width: 320px !important;
    }	
    #logoInicial{
    	width: 320px !important;
    	height: 195px !important;
    }
}

.botaoEbook{
	height: 55px;
	border-radius: 0px;
	width: 100%;
	margin-top: 10px; 
	background: rgb(225, 64, 37);
}

.spanEbook{
	color: rgb(255, 255, 255); 
	background-color: rgb(225, 64, 37); 
	font-size: 22px; 
	font-weight: bold
}

#treinoDescricao h4 span{
	font-size: 15px !important;
}

#treinoDescricao h4{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

#treinoDescricao h3 span{
	font-size: 15px !important;
}

#treinoDescricao h3{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.navbar-main-collapse{
	display: none;
}

#treinoDescricao{
	text-align: justify; 
	font-size: 16px !important;
	/* margin: 0px 40px; */ 
	text-transform: uppercase;
}

.form-proprietario{
    background-color: #EAEAEA;
    padding: 5px;
    margin-bottom: 10px;
}

.form-proprietario button{
	margin-bottom:5px;	
	float: right;
	z-index: 9999 !important;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    background-color: #f4f4f4;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
}

.panel-group .panel+.panel {
    margin-top: 0px;
}

.panel-heading {
    padding: 15px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.col-15{
	width: 12.499999995%;
}

.arquivosCadOp {
	margin-bottom: 2%;
	color: white;
}

.botaoDeletar {
	margin-left: 5%;
}

.pull-right{
	float: right !important;
}

.subNivel{
	background-color: #232222;
}

.cpfValido {
	border: 2px solid #50C312;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
}

.cpfInvalido {
	border: 2px solid red;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
}

#footer {
	/* background-color: #333 !important; */
}

.botaoSalvarRelatorio {
	float: right;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.buffer {
	margin-bottom: 5%;
}

.contaAccordion {
	background-color: #333;
}

.csv {
	margin-bottom: 2%;
}

.dataFim {
	margin-left: 9%;
}

.floatRight {
	float: right;
}

.modalOp {
	color: black;
	margin-bottom: 0px;
}

.modalOperacao {
	margin-bottom: 1%;
}

.opMargin {
	margin-bottom: 10px;
}

.numero-matricula {
	font-weight: normal !important;
	border: 1px solid #777;
	margin-right: 5px;
	background-color: #333;
}

.numero-matricula:HOVER {
	background-color: #777;
}

.textEditarRelatorio {
	width: 100%;
	height: 180px;
}

.top10 {
	margin-top: 10%;
}

.top25 {
	margin-top: 25px;
}

.UF {
	text-transform: uppercase
}