<div id="page-top" data-target=".navbar-fixed-top">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" style="color: white;" class="navbar-toggle" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="menu" class="collapse navbar-collapse navbar-right" uib-collapse="!isCollapsed">
                <ul class="nav navbar-nav">
                    <li>
                     	<a class="page-scroll" href="#page-top" ng-click="isCollapsed = !isCollapsed" du-smooth-scroll> Inicio</a>
                   	</li>
                    <li>
                        <a class="page-scroll" href="#consultoria" ng-click="isCollapsed = !isCollapsed" du-smooth-scroll>Consultoria</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#planos" ng-click="isCollapsed = !isCollapsed" du-smooth-scroll>Planos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sobre" ng-click="isCollapsed = !isCollapsed" du-smooth-scroll>Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faq" ng-click="isCollapsed = !isCollapsed" du-smooth-scroll>Faq</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contato" ng-click="isCollapsed = !isCollapsed" du-smooth-scroll>Contato</a>
                    </li>
                    <li>
                    	<a ng-click="PresentCtrl.modalLogin()"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                   	</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>

<div ui-view style="height: 100%;"></div>

