<div class="site-wrapper capa">
	<div class="site-wrapper-inner">
		<div id="page-top" data-target=".navbar-fixed-top">
			<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		        <div class="container">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		                    <i class="fa fa-bars"></i>
		                </button>
		                <a><img class="masthead-brand" src="--{url_for('.media', filename='cons.jpg')}--"></a>
		            </div>
		
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <div id="menu" class="collapse navbar-collapse navbar-right navbar-main-collapse">
		                <ul class="nav navbar-nav">
		                    <li>
		                     	<a class="page-scroll" href="#page-top" du-smooth-scroll> Apresentação</a>
	                    	</li>
		                    <li>
		                        <a class="page-scroll" href="#about" du-smooth-scroll> Sobre</a>
		                    </li>
		                    <li>
		                        <a class="page-scroll" href="#contact" du-smooth-scroll> Contato</a>
		                    </li>
		                    <li>
		                    	<a ng-click="PresentCtrl.modalLogin()"><span class="glyphicon glyphicon-log-in"></span> Login</a>
	                    	</li>
		                </ul>
		            </div>
		            <!-- /.navbar-collapse -->
		        </div>
		        <!-- /.container -->
		    </nav>
		</div>
	
		<div ui-view></div>
		
	</div>
</div>
