<div class="cover-container">
	<div class="inner cover">
	    <form name="form" ng-submit="PresentCtrl.logar()" class="form-signin" method="post">
	        <h2 class="form-signin-heading">Usuário <span class="text-highlight font-days">Tree-D</span></h2>
	        <div class="form-group">
	            <input type="email" class="form-control" name="email" placeholder="E-mail" ng-model="PresentCtrl.usuario.email" required>
	        </div>
	        <div class="form-group">
	            <input type="password" class="form-control" name="senha" placeholder="Senha" ng-model="PresentCtrl.usuario.senha" required>
	        </div>
	        <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-in"></span> Entrar</button>
	    </form>
	</div>
</div>
<footer>
    <div class="navbar navbar-fixed-bottom text-center">
        © <a href="http://www.agrosatelite.com.br" target="_blank">Agrosatélite</a> Geotecnologia Aplicada.
    </div>
</footer>
