<div class="body" id="page-top" data-target=".navbar-fixed-top">

    <section class="intro">
    </section>
    
	 <!-- About Section -->
    <section id="consultoria">
        <div class="container">
                <h2>Consultoria em si</h2>
                <div class="text-justify"> 
	                <p style="font-size: 20px;">LiDAR technology can be used as an operational tool for wall-to-wall mapping of forest resources, eliminating sampling errors inherent in traditional forest inventories while significantly reducing time and cost of forest mensuration.
					In addition to supporting management decisions and the planning of logging operations, LiDAR can be used to map and monitor forest carbon stocks, representing a significant step forward in the calculation of carbon footprint.
					LiDAR-based inventory can also be used to track forest growth; quantify forest loss due to disturbances (pests, diseases, fire, etc.); initialize and validate forest growth models; and a number of other applications.</p>
				</div>
            </div>
    </section>
    
    <!-- Download Section -->
    <section id="planos" >
        <div class="container">
           <h2>Planos de Consultoria</h2>
           <p>You can use our service too, send us an email and schedule all your needs.</p>
           <p><a href="mailto:treeD@agrosatelite.com.br" class="btn btn-default btn-lg">treeD@agrosatelite.com.br</a></p>
        </div>
    </section>
	
	<section id="sobre">
        <div class="container">
        
        </div>
    </section>
	
    <!-- Contact Section -->
    <section id="contato">
        <div class="container">
                <h2>Contact</h2>
                <br/>
                <div>
                	<div class="col-lg-6">
                		<p style="font-size: 20px;">Bernardo Rudorff, PhD<br>
                		Executive Director<br>
						bernardo@agrosatelite.com.br<br>
						+55 (48) 8862-7678</p>
                	</div>
                	<div class="col-lg-6">
                		<p style="font-size: 20px;">Fabio Gonçalves, PhD<br>
                		Head, Forest Inventory & Monitoring<br>
						fabio@agrosatelite.com.br<br>
						+55 (48) 9149-9617</p>
                	</div>
                </div>
                <div>
                	<div class="col-lg-6">
                		<p style="font-size: 20px;">Florianópolis - SC<br>
                		Rodovia Sc 401, 4850 SALA E-23/30<br>
						88032-005 Florianópolis - SC<br>
						Tel. +55 (48) 3209-1650</p>
                	</div>
                	<div class="col-lg-6">
                		<p style="font-size: 20px;">SÃO PAULO - SP<br>
                		Av. General Furtado do Nascimento, 740 Cj 18/19<br>
						05.465-070 São Paulo - SP<br>
						Tel. +55 (11) 3042-9181</p>
                	</div>
                </div>
        </div>
    </section>
	
	<footer>
        <div class="container text-center">
            © <a href="http://www.agrosatelite.com.br" target="_blank">Agrosatélite</a> Geotecnologia Aplicada.
        </div>
    </footer>
</div>

