<div class="body" id="page-top" data-target=".navbar-fixed-top">

    <section class="intro">
    	<div class="logomarca"></div>
    </section>
    <div style=" box-shadow: 1px 1px 10px 2px #757373; padding: 0px; margin: -60px 30px 20px; background: white; border-radius: 5px;">
	 <!-- About Section -->
	    <section id="consultoria" style="padding-bottom: 25px">
	        <div class="container">
	                <h2 class="section-title"><span>Consultoria</span></h2>
	                <div class="text-justify"> 
		                <p style="font-size: 18px; margin-bottom: 7px;">
		                	Olá, tudo bem? Vamos lá, o que tenho pra te explicar é simples, vou te dar uma visão do que tenho para te oferecer
							e você verá se é isso que você gostaria de ter.
						</p>
						<p style="font-size: 18px; margin-bottom: 7px;">
							Eu te oferecerei um planejamento mensal, direcionado para suas necessidades e visando atender suas espectativas da 
							melhor forma possível. Faremos isso juntos, eu e você, mérito dos dois mas muito maior seu por fazer o que foi planejado.
							Eu faço isso para transformar seus sonhos e suas metas em objetivo concreto. Baseado nas mais atuais referencias do assunto.
						</p>
						<p style="font-size: 18px; margin-bottom: 7px;">	
							O que farei por você? Desenvolverei um treino baseado nas suas necessidades e objetivos;
							Você recebera explicações junto a consultoria de o porque aquela tecnica esta sendo	utilizada e quais seus benefícios e objetivos.
							O que lhe ofereço é: uma nova forma de pensar em atividade física e uma nova mecânica de treinamento.
							Treinos economizando o que de mais precioso você tem: tempo!
						</p>
						<p style="font-size: 18px; margin-bottom: 10px;">
							Quer descobrir como?
							Escolhe um plano, e vem comigo.
						</p>
					</div>
	            </div>
	    </section>
	    
	    <!-- Download Section -->
	    <section id="planos" style="padding-bottom: 25px; background: white;">
	        <div class="container">
	        <div class="text-center">
	        	<h2 class="section-title"><span>Planos de Consultoria</span></h2>
		        <h5 style="margin-bottom: 15px;">O meu serviço não será um Personal Online.</h5>
				<h5 style="margin-bottom: 15px;">Eu serei um consultor, farei um planejamento, você seguirá e juntos atingiremos o seu objetivo.</h5>
				<h5 style="margin-bottom: 15px;">Meu planejamentos são desenvolvidos para serem executados em academia!</h5>	
				<h5 style="margin-bottom: 30px;">Presentei si mesmo, escolha um plano abaixo. Te aguardo.</h5>
				<h3 style="margin-bottom: 15px; text-decoration: underline;">Aproveite o preço promocional de lançamento</h3>
				<div class="col-md-12 col-xs-12 row">
					<div class="col-md-5 col-md-offset-1 col-xs-12" style="background-color: #f6f7f9; border: 3px solid #f6f7f9; box-shadow: 1px 1px 10px 2px #757373;">
						<h3>Planejamento mensal</h3>
						<h3 style="margin-top: 5px;">1 consultoria</h3>
						<div>
				            <span>R$</span>
				            <span class="valorRiscado">149,00</span>
				            <span class="moeda">R$</span>
				            <span class="valor">99,00</span>
			          	</div>
			            <button class="btn btn-primary botaoComprar" ng-click="StartCtrl.comprar('1')">Comprar</button>
					</div>
					<div class="col-md-5 col-md-offset-1 col-xs-12" style="background-color: #f6f7f9; margin-left: 6.5%; border: 3px solid #f6f7f9; color: #63b050; box-shadow: 1px 1px 10px 2px #757373;">
						<h3>Planejamento trimestral</h3>
						<h3 style="margin-top: 5px;">3 consultorias</h3>
						<div>
				            <span>R$</span>
				            <span class="valorRiscado">349,00</span>
				            <span class="moeda">R$</span>
				            <span class="valor">229,00</span>
			          	</div>
			          	<button class="btn btn-success botaoComprar" ng-click="StartCtrl.comprar('3')">Comprar</button>
					</div>
				</div>
	        </div>
				
	        </div>
	    </section>
		
		<section id="sobre" style="padding-bottom: 25px">
	        <div class="container">
	        	<div class="col-xs-12 col-md-12 text-center">
	        		<img class="img-responsive" style="border-radius: 50%; height: 300px; display: inline; margin-top: 25px;" src="/media/julliano.jpg">
			        <h2 class="section-title"><span>Julliano Volpato</span></h2>
		        	<div>
		        		Graduado em Educação Física (Bacharel) pela Universidade Estadual de Santa Catarina - (UDESC)
		        	</div>
		        	<div>
						Graduado em Análise e Desenvolvimento de Sistemas - SENAI/CTAI
		        	</div>
	    			<a href="http://instagram.com/julliano_osorio" target="_blank" style="color:black;">
		             	<i class="fa fa-instagram fa-2x" style="margin-top: 25px;"></i>
		        	</a>
	        	</div>
	        </div>
	    </section>
		
	    <section id="faq" style="padding-bottom: 25px; background: white;">
	        <div class="container">
				<h2 class="section-title" style=" margin: 50px 0px;"><span>Dúvidas Frequentes sobre treino</span></h2>
			 	<uib-accordion close-others="false">
					<div uib-accordion-group class="panel-default" is-open="status.open1">
				    	<uib-accordion-heading>	Cadência, o que é e como funciona? 
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open">
				    	<uib-accordion-heading> Como saber qual carga usar? 
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open2">
				    	<uib-accordion-heading>	Tabela de nível de esforço
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open3">
				    	<uib-accordion-heading>	Alongamentos
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open3, 'glyphicon-chevron-right': !status.open3}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open4">
				    	<uib-accordion-heading>	Exemplos de alongamentos
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open4, 'glyphicon-chevron-right': !status.open4}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open5">
				    	<uib-accordion-heading>	Tipo de pegada
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open5, 'glyphicon-chevron-right': !status.open5}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open6">
				    	<uib-accordion-heading>	Flexibilidade de dias de treino
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open6, 'glyphicon-chevron-right': !status.open6}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open7">
				    	<uib-accordion-heading>	Como executar a pausa no treino de oclusão
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open7, 'glyphicon-chevron-right': !status.open7}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open8">
				    	<uib-accordion-heading>	Piramidal Decrescente
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open8, 'glyphicon-chevron-right': !status.open8}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open9">
				    	<uib-accordion-heading>	Variações de exercícios
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open9, 'glyphicon-chevron-right': !status.open9}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open10">
				    	<uib-accordion-heading>	Volume x Intensidade
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open10, 'glyphicon-chevron-right': !status.open10}"></i>
				      	</uib-accordion-heading>
				      	This is just some content to illustrate fancy headings.
			    	</div>
			  	</uib-accordion>
		        <div>
		        	<h2 class="section-title" style="margin: 50px 0px;"><span>Dúvidas Frequentes consultoria</span></h2>
		        	<uib-accordion close-others="false">
					<div uib-accordion-group class="panel-default" is-open="status.open11">
				    	<uib-accordion-heading>	Como renovar ou extender um plano? 
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open11, 'glyphicon-chevron-right': !status.open11}"></i>
				      	</uib-accordion-heading>
				      	Na verdade não há como renovar um plano, o que você deve fazer é realizar uma nova compra, com um novo formulário (para que eu tenha seus dados atualizados)
				      	e em cima disso farei seu novo planejamento.
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open12">
				    	<uib-accordion-heading> Dúvidas na compra, pagamento ou problemas?
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open12, 'glyphicon-chevron-right': !status.open12}"></i>
				      	</uib-accordion-heading>
				      	Qualquer dúvida relacionada ao sistema, que não tenham a ver com treinos (se tiver, olhe o próximo tópico), devem ser enviados para jullianoVolpato@gmail.com 
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open13">
				    	<uib-accordion-heading>	Nossa comunicação após as liberações de treinos
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open13, 'glyphicon-chevron-right': !status.open13}"></i>
				      	</uib-accordion-heading>
				      	<p style="margin-bottom: 15px;">Após a liberação de treinos, qualquer dúvida referente a um treino enviado deve ser tirada na areá de dúvidas do sistema, acessível mediante login.</p>
				      	
				      	<p style="margin-bottom: 15px;">As dúvidas serão respondidas apenas em dias úteis, então caso você envie na sexta talvez só receba a resposta na segunda.</p>
				      	<p style="margin-bottom: 15px;">As dúvidas serão respondidas em ordem e em até 24 horas;</p>
				      	<p style="margin-bottom: 15px;">Cada dúvida deve conter apenas uma ração, caso exista mais de uma, divida em quantas dúvidas forem necessarias.</p>
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open13">
				    	<uib-accordion-heading>	Como o meu trabalho é realizado
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open13, 'glyphicon-chevron-right': !status.open13}"></i>
				      	</uib-accordion-heading>
				      	Meu trabalho será atender e atingir seus objetivos, de acordo com o que você informar, com treinos personalizados, utilizando diversos
				      	tipos de metodologias e sistemas de treinamento, fazendo com que você treino o necessário, nem mais nem menos, economizando seu tempo no dia a dia;
			    	</div>
					<div uib-accordion-group class="panel-default" is-open="status.open14">
				    	<uib-accordion-heading>	Funcionamento dos planos
				    		<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open14, 'glyphicon-chevron-right': !status.open14}"></i>
				      	</uib-accordion-heading>
				      	<p style="margin-bottom: 15px;">Na compra de um Plano Mensal o cliente terá seu treino disponibilizado, avisado por email, em até 2 dias úteis após a confirmação do pagamento. </p>
				      	Na compra de um Plano Trimestral o cliente terá seu primeiro treino disponibilizado em 2 dias úteis, o segundo com 30 dias após o primeiro e o terceiro com 60 dias após o primeiro. Tudo isso após a confirmação do pagamento.
			    	</div>
			  	</uib-accordion>
		        </div>
	        </div>
	    </section>
	    
	    <section id="contato" style="padding-bottom: 25px; background: white;">
	        <div class="container">
				<div class="column_attr align_center">
					<h3 style="text-align: center; margin-bottom: 25px;">Ficou com alguma dúvida, entre em contato conosco:</h3>
				</div>
				<div id="contactWrapper">
					<form id="contactform" class="col-md-12 col-lg-12 col-xs-12">
						<div class="col-md-6 col-xs-6 col-lg-6 form-group">
							<input class="inputEmail" placeholder="Nome" type="text" id="name" ng-model="StartCtrl.formulario.name" aria-required="true" aria-invalid="false" />
						</div>
						<div class="col-md-6 col-xs-6 col-lg-6 form-group">
							<input class="inputEmail" placeholder="E-mail" type="email" id="email" ng-model="StartCtrl.formulario.email" aria-required="true" aria-invalid="false" />
						</div>
						<div class="col-md-12 col-xs-12 col-lg-12 form-group">
							<input class="inputEmail" placeholder="Assunto" type="text" id="subject" ng-model="StartCtrl.formulario.assunto" aria-invalid="false" />
						</div>
						<div class="col-md-12 col-xs-12 col-lg-12 form-group">
							<textarea class="inputEmail" placeholder="Mensagem" id="body" ng-model="StartCtrl.formulario.texto" style="width: 100%; height: auto !important;" rows="10" aria-invalid="false"></textarea>
						</div>
						<div class="text-center">
							<input type="button" class="btn btn-default" value="ENVIAR" id="submit" ng-click="StartCtrl.enviar()">
						</div>
					</form>
				</div>
	        </div>
	    </section>
    </div>
	
	<footer style="padding: 15px 0; background: black; color: white;">
        <div class="container">
	        <div class="col-xs-6">
	            © <a href="http://www.jullianovolpato.com.br" target="_blank">Julliano Volpato</a> - Consultoria Fitness.
	        </div>
	        <div class="col-xs-6 pull-right">
	        	<ul style="float: right; margin: 0;">
	        		<li style="display: inline; margin: 5px;">
	        			<a href="https://www.instagram.com/julliano_osorio/" target="_blank" style="font-size: 20px;">
	        				<i class="fa fa-instagram"></i>
	        			</a>
	        		</li>
	        	</ul>
	        </div>
        </div>
    </footer>
</div>

