<div class="body" id="page-top" data-target=".navbar-fixed-top">

    <section class="intro">
    	<div class="logomarca"></div>
    </section>
    
	 <!-- About Section -->
    <section id="consultoria" style="padding-bottom: 25px">
        <div class="container">
                <h2>Consultoria</h2>
                <div class="text-justify"> 
	                <p style="font-size: 18px; margin-bottom: 7px;">
	                	Olá, tudo bem? Vamos lá, o que tenho pra te explicar é simples, vou te dar uma visão do que tenho para te oferecer
						e você verá se é isso que você gostaria de ter.
					</p>
					<p style="font-size: 18px; margin-bottom: 7px;">
						Eu te oferecerei um planejamento mensal, direcionado para suas necessidades e visando atender suas espectativas da 
						melhor forma possível. Faremos isso juntos, eu e você, mérito dos dois mas muito maior seu por fazer o que foi planejado.
						Eu faço isso para transformar seus sonhos e suas metas em objetivo concreto. Baseado nas mais atuais referencias do assunto.
					</p>
					<p style="font-size: 18px; margin-bottom: 7px;">	
						O que farei por você? Desenvolverei um treino baseado nas suas necessidades e objetivos;
						Você recebera explicações junto a consultoria de o porque aquela tecnica esta sendo	utilizada e quais seus benefícios e objetivos.
						O que lhe ofereço é: uma nova forma de pensar em atividade física e uma nova mecânica de treinamento.
						Treinos economizando o que de mais precioso você tem: tempo!
					</p>
					<p style="font-size: 18px; margin-bottom: 10px;">
						Quer descobrir como?
						Escolhe um plano, e vem comigo.
					</p>
				</div>
            </div>
    </section>
    
    <!-- Download Section -->
    <section id="planos" style="padding-bottom: 25px; background: white;">
        <div class="container">
        <div class="text-center">
    		<h2 style="margin-bottom: 30px;">Planos de Consultoria</h2>
	        <h5>O meu serviço não será um Personal Online.</h5>
			<h5>Eu serei um consultor, farei um planejamento, você seguirá e juntos atingiremos o seu objetivo.</h5>
			<h5>Meu planejamentos são desenvolvidos para serem executados em academia!</h5>	
			<h5 style="margin-bottom: 30px;">Presentei alguém ou a si mesmo, escolha um plano abaixo. Te aguardo.</h5>
			<div class="col-md-12 col-xs-12">
				<div class="col-md-6 col-xs-12" style="background-color: #f6f7f9;">
					<h3>Planejamento mensal</h3>
					<h3 style="margin-top: 5px;">1 consultoria</h3>
					<div>
			            <span>R$</span>
			            <span class="valorRiscado">149,00</span>
			            <span class="moeda">R$</span>
			            <span class="valor">99,00</span>
		          	</div>
		            <button class="btn btn-primary botaoComprar">Comprar</button>
				</div>
				<div class="col-md-6 col-xs-12" style="background-color: #f6f7f9; border: 3px solid #63b050; color: #63b050;">
					<h3>Planejamento trimestral</h3>
					<h3 style="margin-top: 5px;">3 consultorias</h3>
					<div>
			            <span>R$</span>
			            <span class="valorRiscado">349,00</span>
			            <span class="moeda">R$</span>
			            <span class="valor">229,00</span>
		          	</div>
		          	<button class="btn btn-success botaoComprar">Comprar</button>
				</div>
			</div>
        </div>
			
        </div>
    </section>
	
	<section id="sobre" style="padding-bottom: 25px">
        <div class="container">
        <h2>Julliano Volpato</h2>
        	<div>
        		Graduado em bacharel em Educação Física pela Universidade Estadual de Santa Catarina - (UDESC)
        	</div>
        	<div>
				Graduado em Análise e Desenvolvimento de Sistemas - CTAI
        	</div>
        </div>
    </section>
	
    <section id="contato" style="padding-bottom: 25px">
        <div class="container">
			<h2> Contato </h2>
			<div class="column_attr align_center">
				<h3 style="text-align: center; margin-bottom: 25px;">Ficou com alguma dúvida, entre em contato conosco:</h3>
			</div>
			<div id="contactWrapper">
				<form id="contactform" class="col-md-12 col-lg-12 col-xs-12">
					<div class="col-md-6 col-xs-6 col-lg-6 form-group">
						<input class="inputEmail" placeholder="Nome" type="text" id="name" ng-model="StartCtrl.formulario.name" aria-required="true" aria-invalid="false" />
					</div>
					<div class="col-md-6 col-xs-6 col-lg-6 form-group">
						<input class="inputEmail" placeholder="E-mail" type="email" id="email" ng-model="StartCtrl.formulario.email" aria-required="true" aria-invalid="false" />
					</div>
					<div class="col-md-12 col-xs-12 col-lg-12 form-group">
						<input class="inputEmail" placeholder="Assunto" type="text" id="subject" ng-model="StartCtrl.formulario.assunto" aria-invalid="false" />
					</div>
					<div class="col-md-12 col-xs-12 col-lg-12 form-group">
						<textarea class="inputEmail" placeholder="Mensagem" id="body" ng-model="StartCtrl.formulario.texto" style="width: 100%; height: auto !important;" rows="10" aria-invalid="false"></textarea>
					</div>
					<div class="text-center">
						<input type="button" class="btn btn-default" value="ENVIAR" id="submit" ng-click="StartCtrl.enviar()">
					</div>
				</form>
			</div>
        </div>
    </section>
	
	<footer style="padding: 15px 0; background: black; margin-top: 60px; color: white;">
        <div class="container">
	        <div class="col-xs-6">
	            © <a href="http://www.jullianovolpato.com.br" target="_blank">Julliano Volpato</a> - Consultoria Fitness.
	        </div>
	        <div class="col-xs-6 pull-right">
	        	<ul style="float: right; margin: 0;">
	        		<li style="display: inline; margin: 5px;">
	        			<a href="https://www.facebook.com/julliano.osorio" target="_blank" style="font-size: 20px;">
	        				<i class="fa fa-facebook"></i>
	        			</a>
	        		</li>
	        		<li style="display: inline; margin: 5px;">
	        			<a href="https://www.instagram.com/julliano_osorio/" target="_blank" style="font-size: 20px;">
	        				<i class="fa fa-instagram"></i>
	        			</a>
	        		</li>
	        	</ul>
	        </div>
        </div>
    </footer>
</div>

