<div ng-show="PresentCtrl.slide == 1" class="inner cover">
	<img src="/static/img/simfaz-logo-branca.png" style="width: 100%;">
	<p style="margin-top: 10%;" class="lead">O SiMFaz é um sistema para avaliação e monitoramento de áreas agrícolas que fornece ao cliente informações qualitativas e quantitativas com base na matrícula
		das propriedades</p>
</div>

<div ng-show="PresentCtrl.slide == 2" class="inner cover">
	<h1 class="text-highlight font-days">SiMFaz 2</h1>
	<h2 class="cover-heading font-days">Sistema de Monitoramento de Fazendas</h2>
	<hr>
	<p class="lead">O SiMFaz é um sistema para avaliação e monitoramento de áreas agrícolas que fornece ao cliente informações qualitativas e quantitativas com base na matrícula
		das propriedades</p>
</div>

<div ng-show="PresentCtrl.slide == 3" class="inner cover">
	<h1 class="text-highlight font-days">SiMFaz 3</h1>
	<h2 class="cover-heading font-days">Sistema de Monitoramento de Fazendas</h2>
	<hr>
	<p class="lead">O SiMFaz é um sistema para avaliação e monitoramento de áreas agrícolas que fornece ao cliente informações qualitativas e quantitativas com base na matrícula
		das propriedades</p>
</div>