<!DOCTYPE html>
<html lang="pt-br" ng-app="consultoria" style="height: 100%;">
<head>
<meta charset="utf-8" />
<title>Julliano Volpato | Consultoria Fitness</title>
<!-- <link rel="shortcut icon" href="/media/icone_agrosatelite_32x32.png"> -->
<script src="https://www.google.com/jsapi"></script>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/angular/angular.min.js"></script>
<script src="/static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/static/bower_components/angular-route/angular-route.min.js"></script>
<script src="/static/bower_components/angular-scroll/angular-scroll.js"></script>
<script src="/static/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
<script src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/static/bower_components/angular-ui-mask/dist/mask.js"></script>
<script src="/static/bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
<script src="/static/bower_components/textAngular/dist/textAngular-sanitize.js"></script>
<script src="/static/bower_components/textAngular/dist/textAngular.min.js"></script>

<!-- Angular core  -->
<script src="/static/angular/main.js"></script>
<!-- END -->

<!-- Angular Controllers  -->
<script src="/static/angular/controller/start.js"></script>
<script src="/static/angular/controller/presentation.js"></script>
<script src="/static/angular/controller/navbar.js"></script>
<script src="/static/angular/controller/modal-instance.js"></script>
<script src="/static/angular/controller/cadastrar.js"></script>
<script src="/static/angular/controller/recuperarSenha.js"></script>
<script src="/static/angular/controller/recuperarEmail.js"></script>

<script src="/static/angular/controller/cliente/comprar.js"></script>
<script src="/static/angular/controller/cliente/conta.js"></script>
<script src="/static/angular/controller/cliente/plano.js"></script>
<script src="/static/angular/controller/cliente/treino.js"></script>
<script src="/static/angular/controller/cliente/duvida.js"></script>
<script src="/static/angular/controller/cliente/duvidaUnitaria.js"></script>

<script src="/static/angular/controller/admin/usuario.js"></script>
<script src="/static/angular/controller/admin/plano.js"></script>
<script src="/static/angular/controller/admin/treino.js"></script>
<script src="/static/angular/controller/admin/liberarTreino.js"></script>
<script src="/static/angular/controller/admin/duvida.js"></script>
<script src="/static/angular/controller/admin/modelo.js"></script>
<script src="/static/angular/controller/admin/duvidaUnitaria.js"></script>
<!-- END -->

<!-- Angular Services -->
<script src="/static/angular/service/treino-service.js"></script>
<script src="/static/angular/service/modelo-service.js"></script>
<script src="/static/angular/service/login-service.js"></script>
<script src="/static/angular/service/duvida-service.js"></script>
<!-- END -->

<!-- Angular Directives -->
<script src="/templates/directives/navbar-cliente/navbar-cliente.js"></script>
<script src="/templates/directives/navbar-admin/navbar-admin.js"></script>
<script src="/templates/directives/modal-app-duvida/modal-app-duvida.js"></script>
<script src="/templates/directives/modal-admin-plano/modal-admin-plano.js"></script>
<script src="/templates/directives/modal-admin-modeloTreino/modal-admin-modeloTreino.js"></script>
<script src="/templates/directives/modal-admin-usuario/modal-admin-usuario.js"></script>
<script src="/templates/directives/modal-login/modal-login.js"></script>
<script src="/templates/directives/compara-senha/compara-senha.js"></script>
<script src="/templates/directives/sf-cpf/sf-cpf.js"></script>
<!-- END -->

<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" />
<link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/bower_components/angular-busy/dist/angular-busy.min.css" />
<link rel="stylesheet" href="/static/bower_components/textAngular/dist/textAngular.css" />


<link rel="stylesheet" href="/static/style.css" />
<link rel="stylesheet" href="/static/cover.css" />
<link rel="stylesheet" href="/static/consultoria.css"/>
<link rel="stylesheet" href="/static/grayscale.css"/>


<script src="/static/js/grayscale.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/jquery.js"></script>


</head> 
<body ng-app="consultoria" style="height: 100%;">
	
	<div ui-view cg-busy="submitPromise" style="height: 100%;"></div>

</body>
</html>
