<div class="container">
	<p class="tituloPagina">Finalização de compra</p>
	<div class="fundoBranco text-center col-md-12 col-sm-12" ng-if="!CompraCtrl.quest">
		<h4 style="font-weight: 300;">Olá, obrigado por confiar na minha dedicação com o seu objetivo, prometo te entregar o meu máximo nesse planejamento personalizado.</h4>
		<h4 style="font-weight: 300;">Você tem um formulário novo para preencher.</h4>
		<div class="col-md-12 col-sm-12">
			<button class="btn btn-success botaoComprar" ng-click="CompraCtrl.formularioAntigo(false)">Preencher</button>
			<button class="btn btn-success botaoComprar" ng-if="CompraCtrl.ultimoForm.preenchido" ng-click="CompraCtrl.formularioAntigo(true)">Utilizar relatorio antigo</button>
		</div>
		<!-- <div class="form-group col-md-offset-4 col-sm-offset-4 col-md-4 col-sm-4">
			<label class="text-form">Cupom de desconto:</label>
			<input type="text" class="form-control" ng-model="CompraCtrl.formulario.cupom">
		</div> -->
	</div>
	<div class="fundoBranco" ng-if="CompraCtrl.quest">
		<div class="row">
			<form novalidate class="form" name="formVenda">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
							<label class="text-form">Peso: *</label>
							<input type="text" class="form-control" placeholder="Ex: 60kg" ng-model="CompraCtrl.formulario.peso" required>
						</div>
						<div class="form-group">
							<label class="text-form">% Gordura: </label>
							<input type="text" class="form-control" placeholder="Ex: 24%" ng-model="CompraCtrl.formulario.bf" maxlength="10">
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<label class="text-form">Café da manhã: </label>
								<textarea type="text" class="form-control" placeholder="Ex: 3 ovos com café" ng-model="CompraCtrl.formulario.cardapio1"></textarea>
							</div>
							<div class="col-md-6">
								<label class="text-form">Almoço: </label>
								<textarea type="text" class="form-control" placeholder="Ex: 150 gramas de proteina, 200 de arroz" ng-model="CompraCtrl.formulario.cardapio2"></textarea>
							</div>
							<div class="col-md-6">
								<label class="text-form">Lanche da tarde: </label>
								<textarea type="text" class="form-control" placeholder="Ex: Sanduiche natural" ng-model="CompraCtrl.formulario.cardapio3"></textarea>
							</div>
							<div class="col-md-6">
								<label class="text-form">Jantar: </label>
								<textarea type="text" class="form-control" placeholder="Ex: 100 gramas de proteina, 100 de macarrão" ng-model="CompraCtrl.formulario.cardapio4"></textarea>
							</div>
							<div class="col-md-12">
								<label class="text-form">Refeições extras: </label>
								<textarea type="text" class="form-control" placeholder="Ex: Faço um lanche entre café da manhã e almoço, como duas frutas..." ng-model="CompraCtrl.formulario.cardapio5"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div>
								<label class="text-form" style="margin-top: 10px;">Está treinando: *</label>
							</div>
							<div style="margin-left: 20px;">
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.treinando" ng-value="true" required>
							  		Sim
								</label>
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.treinando" ng-value="false" required>
							  		Não
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="text-form">Experiência:</label>
							<select class="texto-info analise form-control" ng-model="CompraCtrl.formulario.experiencia" ng-disabled="CompraCtrl.formulario.treinando != true">
								<option label="" value="3 meses">3 meses</option>
								<option label="" value="6 meses">6 meses</option>
								<option label="" value="9 meses">9 meses</option>
								<option label="" value="1 ano">1 ano</option>
								<option label="" value="1 a 2 anos">1 a 2 anos</option>
								<option label="" value="2 a 3 anos">2 a 3 anos</option>
								<option label="" value="3 a 5 anos">3 a 5 anos</option>
								<option label="" value="5 a 10 anos">5 a 10 anos</option>
								<option label="" value="+ 10 anos">+ de 10 anos</option>
							</select>
						</div>
						<div class="form-group">
							<div>
								<label class="text-form">Faz questão de aeróbico: *</label>
							</div>
							<div style="margin-left: 20px;">
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.aerobico" ng-value="true" required>
							  		Sim
								</label>
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.aerobico" ng-value="false" required>
							  		Não
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="text-form">Preferência:</label>
							<select class="texto-info analise form-control" ng-model="CompraCtrl.formulario.aerobicoPreferido" ng-disabled="CompraCtrl.formulario.aerobico != true">
								<option label="" value="Esteira">Esteira</option>
								<option label="" value="Bike">Bike</option>
								<option label="" value="Transport">Transport</option>
								<option label="" value="Remo">Remo</option>
							</select>
						</div>
						<div class="weekDays-selector form-group" style="display: grid;">
							<label class="text-form">Disponibilidade para treinos na semana:</label>
							<input type="checkbox" id="weekday1-mon" class="weekday1" checklist-model="CompraCtrl.formulario.disponibilidade" checklist-value="'segunda'"/>
						  	<label for="weekday1-mon">Segunda</label>
						  	<input type="checkbox" id="weekday1-tue" class="weekday1" checklist-model="CompraCtrl.formulario.disponibilidade" checklist-value="'terca'"/>
						  	<label for="weekday1-tue">Terça</label>
						  	<input type="checkbox" id="weekday1-wed" class="weekday1" checklist-model="CompraCtrl.formulario.disponibilidade" checklist-value="'quarta'"/>
						  	<label for="weekday1-wed">Quarta</label>
						  	<input type="checkbox" id="weekday1-thu" class="weekday1" checklist-model="CompraCtrl.formulario.disponibilidade" checklist-value="'quinta'"/>
						  	<label for="weekday1-thu">Quinta</label>
						  	<input type="checkbox" id="weekday1-fri" class="weekday1" checklist-model="CompraCtrl.formulario.disponibilidade" checklist-value="'sexta'"/>
						  	<label for="weekday1-fri">Sexta</label>
						  	<input type="checkbox" id="weekday1-sat" class="weekday1" checklist-model="CompraCtrl.formulario.disponibilidade" checklist-value="'sabado'"/>
						  	<label for="weekday1-sat">Sábado</label>
						  	<input type="checkbox" id="weekday1-sun" class="weekday1" checklist-model="CompraCtrl.formulario.disponibilidade" checklist-value="'domingo'"/>
						  	<label for="weekday1-sun">Domingo</label>
						</div>
						<div class="form-group">
							<div>
								<label class="text-form">Pratica atividade extra: *</label>
							</div>
							<div style="margin-left: 20px;">
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.extra" ng-value="true" required>
							  		Sim
								</label>
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.extra" ng-value="false" required>
							  		Não
								</label>
							</div>
						</div>
						<div class="form-group" ng-if="CompraCtrl.formulario.extra == true">
							<label class="text-form">Descreva sua atividade extra: </label>
							<textarea type="text" class="form-control" placeholder="Ex: Pratico muay thai 2 vezes por semana, como hobbie..." ng-model="CompraCtrl.formulario.extra_descricao"></textarea>
						</div>
						<div class="weekDays-selector form-group" style="display: grid;" ng-if="CompraCtrl.formulario.extra == true">
							<label class="text-form">Frequência: *</label>
							<input type="checkbox" id="weekday-mon" class="weekday" checklist-model="CompraCtrl.formulario.extra_disponibilidade" checklist-value="'segunda'"/>
						  	<label for="weekday-mon">Segunda</label>
						  	<input type="checkbox" id="weekday-tue" class="weekday" checklist-model="CompraCtrl.formulario.extra_disponibilidade" checklist-value="'terca'"/>
						  	<label for="weekday-tue">Terça</label>
						  	<input type="checkbox" id="weekday-wed" class="weekday" checklist-model="CompraCtrl.formulario.extra_disponibilidade" checklist-value="'quarta'"/>
						  	<label for="weekday-wed">Quarta</label>
						  	<input type="checkbox" id="weekday-thu" class="weekday" checklist-model="CompraCtrl.formulario.extra_disponibilidade" checklist-value="'quinta'"/>
						  	<label for="weekday-thu">Quinta</label>
						  	<input type="checkbox" id="weekday-fri" class="weekday" checklist-model="CompraCtrl.formulario.extra_disponibilidade" checklist-value="'sexta'"/>
						  	<label for="weekday-fri">Sexta</label>
						  	<input type="checkbox" id="weekday-sat" class="weekday" checklist-model="CompraCtrl.formulario.extra_disponibilidade" checklist-value="'sabado'"/>
						  	<label for="weekday-sat">Sábado</label>
						  	<input type="checkbox" id="weekday-sun" class="weekday" checklist-model="CompraCtrl.formulario.extra_disponibilidade" checklist-value="'domingo'"/>
						  	<label for="weekday-sun">Domingo</label>
						</div>
						<div class="form-group">
							<div>
								<label class="text-form">Fumante: *</label>
							</div>
							<div style="margin-left: 20px;">
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.fumante" ng-value="true" required>
							  		Sim
								</label>
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.fumante" ng-value="false" required>
							  		Não
								</label>
							</div>
						</div>
						<div class="form-group">
							<div>
								<label class="text-form">Bebe: *</label>
							</div>
							<div style="margin-left: 20px;" class="form-group">
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.bebe" ng-value="true" required>
							  		Sim
								</label>
								<label>
							  		<input type="radio" ng-model="CompraCtrl.formulario.bebe" ng-value="false" required>
							  		Não
								</label>
							</div>
							<select class="texto-info analise form-control" ng-disabled="CompraCtrl.formulario.bebe != true">
								<option label="" value="Socialmente">Socialmente</option>
								<option label="" value="Fim de semana">Fins de semana</option>
								<option label="" value="Sempre que da">Sempre que dá</option>
								<option label="" value="Todo dia">Todo dia</option>
							</select>
						</div>
						<div class="form-group">
							<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px; text-align:justify;">
								Para responder a questão sobre treino, <a ui-sref="app.faq" style="color:black;" target="_blank">clique aqui</a> se achar necessário, existe um tópico com descrições no setor de "Dúvidas Frequentes"
							</p>
						</div>
						<div class="form-group">
							<label class="text-form">Melhor treino até o momento:</label>
							<textarea type="text" class="form-control" placeholder="Ex: Treino de força, com método Piramidal 12/10/8" ng-model="CompraCtrl.formulario.melhorTreino"></textarea>
						</div>
						<div class="form-group" ng-if="CompraCtrl.ultimoForm.preenchido">
							<label class="text-form">O que achou do último treino enviado por mim?:</label>
							<textarea type="text" class="form-control" placeholder="Ex: Achei o treino intenso e curto, adorei. Achei chato." ng-model="CompraCtrl.formulario.ultimoTreino"></textarea>
						</div>
						<div class="form-group">
							<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px; text-align:justify;">
								Para responder as questões sobre exercícios, <a ui-sref="app.faq" style="color:black;" target="_blank">clique aqui</a> se achar necessário, existe um tópico com exemplos ilustrativos no setor de "Dúvidas Frequentes"
							</p>
						</div>
						<div class="form-group">
							<label class="text-form">Exercícios preferidos: *</label>
							<textarea type="text" class="form-control" placeholder="Ex: Gosto de agachamento, supino e voador" ng-model="CompraCtrl.formulario.exerGosta" required></textarea>
						</div>
						<div class="form-group">
							<label class="text-form">Exercícios que não gosta:</label>
							<textarea type="text" class="form-control" placeholder="Ex: Não gosto de levantamento terra..." ng-model="CompraCtrl.formulario.exerOdeia"></textarea>
						</div>
						<div class="form-group">
							<label class="text-form">Patologia:</label>
							<textarea type="text" class="form-control" placeholder="Ex: Tenho artrose..." ng-model="CompraCtrl.formulario.patologia"></textarea>
						</div>
						<div class="form-group">
							<label class="text-form">Problema articular:</label>
							<textarea type="text" class="form-control" placeholder="Ex: Lesão de grau 1 no ligamento lateral do joelho esquerdo." ng-model="CompraCtrl.formulario.articulacao"></textarea>
						</div>
						<div class="form-group">
							<label class="text-form">Objetivo: *</label>
							<textarea type="text" class="form-control" placeholder="Ex: Hipertrofia / Emagrecimento" ng-model="CompraCtrl.formulario.objetivo" required></textarea>
						</div>
						<div class="form-group">
							<label class="text-form">Observações:</label>
							<textarea type="text" class="form-control" placeholder="Ex: Algo que queira acrescentar, além das perguntas fornecidas." ng-model="CompraCtrl.formulario.obj"></textarea>
						</div>
						<div class="form-group" ng-if="!CompraCtrl.ultimoForm.preenchido">
							<label class="text-form">Como ficou sabendo da consultoria: *</label>
							<select class="texto-info analise form-control" ng-model="CompraCtrl.formulario.motivo" required>
								<option label="" value=""></option>
								<option label="" value="indicação">Indicação</option>
								<option label="" value="instagram">Instagram</option>
								<option label="" value="facebook">Facebook</option>
								<option label="" value="outro">Outro</option>
							</select>
						</div>
						<!-- <div class="form-group " style="padding: 0px;">
							<label class="text-form">Agendar data de entrega: <sub style="vertical-align: text-top;">(preencha apenas se você não quiser o treino para daqui a 2 dias)</sub></label>
							<input type="date" class="form-control col-md-6 col-lg-6 col-xs-12" placeholder="Caso queira o treino para uma data futura" ng-min="CompraCtrl.todayDate()" ng-model="CompraCtrl.formulario.data_entrega" required>
						</div> -->
						<div class="form-group col-md-offset-4 col-sm-offset-4 col-md-4 col-sm-4">
							<label class="text-form">Cupom de desconto:</label>
							<input type="text" class="form-control" ng-model="CompraCtrl.formulario.cupom" maxlength="30">
						</div>
					</div>
				</div>
				<div style="margin-top: 25px" class="text-center">
					<h4>Clique no botão abaixo para concluir a sua compra. Até já!</h4>
					<button class="btn btn-success botaoComprar" ng-disabled="!formVenda.$valid" ng-click="CompraCtrl.comprar(1)">Finalizar compra - 1 Consultoria</button>
					<button type="submit" ui-sref="app.planos" class="btn btn-primary botaoComprar">Voltar</button>
				</div>			
			</form>
		</div>
	</div>
</div>