<div class="container">
	<p class="tituloPagina"></p>
	<div class="fundoBranco">
		<p class="tituloPagina" style="padding:0;margin:0;">{{DuvidaUniCtrl.duvida.titulo}}</p>
		<ul class="list-group">
 			<li class="list-group-item">
				<div style="border-bottom: 1px solid;">
					{{DuvidaUniCtrl.duvida.usuario.nome_completo}}
					<sub style="float:right;"><i class="fa fa-calendar"></i> {{DuvidaUniCtrl.duvida.data | date:"dd/MM/yyyy"}}</sub>
				</div>
				<br>
				<div>
					<p style="margin:0;">{{DuvidaUniCtrl.duvida.descricao}}<p>
				</div>
			</li>
		  	<li class="list-group-item" ng-repeat="resposta in DuvidaUniCtrl.duvida.respostas">
		  		<div style="border-bottom: 1px solid;">
					{{resposta.usuario.nome_completo}}
					<sub style="float:right;"><i class="fa fa-calendar"></i> {{resposta.data | date:"dd/MM/yyyy"}}</sub>
				</div>
				<br>
				<div>
					<p style="margin:0;">{{resposta.descricao}}<p>
				</div>
			</li>		  	
		</ul>
		<br>
		<br>
		<div>
			<label class="text-form">Resposta:</label>			
			<textarea class="form-control" type="text" ng-model="DuvidaUniCtrl.resposta.descricao"></textarea>
			<div class="modal-footer" style="padding-right: 0;">
				<button class="btn btn-success" type="submit" ng-click="DuvidaUniCtrl.salvarResposta()" ng-disabled="!DuvidaUniCtrl.resposta.descricao">Enviar</button>
			</div>
		</div>
	</div>
</div>