<p class="tituloPagina">DÚVIDAS</p>
<div class="container">
	<button class="btn btn-success botaoDuvida" type="button" ng-click="CliDuvidaCtrl.modalDuvida(null)">
			<span class="glyphicon glyphicon-plus"></span>
	</button>
	<div class="fundoBranco">
		<table class="table" id="table-usuarios">
			<thead>
				<tr>
					<th class="col-md-3">Data</th>
					<th class="col-md-4">Tópico</th>
					<th class="col-md-5">Descrição</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="plano in CliDuvidaCtrl.planos | filter: CliDuvidaCtrl.filtroPlano">
					<th>{{duvida.data}}</th>
					<th>{{duvida.titulo}}</th>
					<th>{{duvida.descricao}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>