<p class="tituloPagina">DÚVIDAS</p>
<div class="container">
	<button class="btn btn-success botaoDuvida" type="button" ng-click="CliDuvidaCtrl.modal(null)">
			<span class="glyphicon glyphicon-plus"></span>
	</button>
	<div class="fundoBranco">
		<table class="table" id="table-usuarios">
			<thead>
				<tr>
					<th class="col-md-2">Data</th>
					<th class="col-md-3">Tópico</th>
					<th class="col-md-6">Descrição</th>
					<th class="col-md-1 text-center">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="duvida in CliDuvidaCtrl.duvidas">
					<td style="color:blue;" ng-click="CliDuvidaCtrl.verDuvida(duvida.id)">{{duvida.data}}</td>
					<td style="white-space: nowrap;">{{duvida.titulo}}</td>
					<td style="white-space: nowrap;">{{duvida.descricao}}</td>
					<td class="text-center"><i ng-class="{'fa fa-clock-o':duvida.status == 'pendente', 'fa fa-check':duvida.status == 'ativa'}"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>