<div class="container">
	<p class="tituloPagina">Planos adquiridos</p>
	<div class="fundoBranco">
		<table class="table" id="table-usuarios">
			<thead>
				<tr>
					<th class="col-md-2">Data aquisição</th>
					<th class="col-md-6">Descrição</th>
					<th class="col-md-1 text-center">Valor</th>
					<th class="col-md-3 text-center">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="venda in CliPlanoCtrl.vendas" class="odd gradeX">
					<td>{{venda.data_compra}}</td>
					<td>{{venda.plano.titulo}}</td>
					<td class="text-center">R${{venda.plano.valor}}</td>
					<td class="text-center">{{venda.pagamento.status}}</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="CliPlanoCtrl.vendas.length == 0" style=" text-align: center; margin: 35px;font-size: 20px;">
			Você não possue planos, vá até a tela inicial e adquira um.
			<div>
				<button class="btn btn-primary botaoComprar" ui-sref="index.start">Adquirir Plano</button>
			</div>
		</div>		
	</div>
</div>