<p class="tituloPagina">Treinos</p>
<div class="container">
	<div class="fundoBranco">
		<table class="table table-bordered" id="table-usuarios">
			<thead>
				<tr>
					<th>Data entrega</th>
					<th>Treino</th>
					<th>Plano</th>
					<th>Sessão</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="treino in CliTreinoCtrl.treinos" class="odd gradeX">
					<td>{{treino.data_entrega}}</td>
					<td>{{treino.nome}}</td>
					<td>{{treino.venda.plano.titulo}}</td>
					<td>{{treino.sessao}}</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="CliTreinoCtrl.treinos.length == 0" style="text-align: center; margin: 35px;font-size: 20px;">
			Você não possue treinos ou eles ainda não foram liberados pelo Julliano.
		</div>			
	</div>
</div>