<div class="container">
	<p class="tituloPagina">Treinos</p>
	<div class="fundoBranco" style="overflow-x: auto;">
		<table class="table table-striped" id="table-usuarios" style="text-align:center;">
			<thead>
				<tr>
					<th class="text-center">Data liberação</th>
					<th class="text-center">Treino</th>
					<th class="text-center">Plano</th>
					<th class="text-center">Sessão</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="treino in CliTreinoCtrl.treinos" class="odd gradeX" ng-click="CliTreinoCtrl.acessarTreino(treino)">
					<td>{{treino.data_disponibilizado | date : 'dd/MM/yy'}}</td>
					<td>{{treino.nome}}</td>
					<td>{{treino.venda.plano.titulo}}</td>
					<td>{{treino.sessao}}</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="CliTreinoCtrl.treinos.length == 0" style="text-align: center; margin: 35px;font-size: 20px;">
			Você não possui treinos ou eles ainda não foram liberados pelo Julliano.
		</div>			
	</div>
</div>