<div class="container">
	<p class="tituloPagina">Aproveite o seu treino</p>
	<div class="fundoBranco">
		<button class="btn btn-success" type="button" ng-click="AceTreinoCtrl.modal(null)" style="float:right; font-weight: 800;">
				<span>+ Dúvida</span>
		</button>
		<p style="margin-bottom: 5px;"><strong>Plano: </strong>
			{{AceTreinoCtrl.treino.venda.plano.titulo}}
		</p>
		<p style="margin-bottom: 5px;"><strong>Sessão: </strong>
			{{AceTreinoCtrl.treino.sessao}}
		</p>
		<p style="margin-bottom: 5px;"><strong>Título: </strong>
			{{AceTreinoCtrl.treino.nome}}
		</p>
		<p style="margin-bottom: 5px;"><strong>Explicação: </strong>
			<div id="treinoDescricao" class="fundoBranco" style="padding: 0px !important; border: none !important;" bind-html-compile="AceTreinoCtrl.treino.explicacao"></div>
		</p>
		<h4 style="color: red; margin: 40px;">Para informações mais detalhadas sobre a metodologia utilizada no seu treino, <a ui-sref="app.{{AceTreinoCtrl.treino.ver}}" target="_blank" style="color: red;">clique aqui</a>.</h4>
		<div>
			<button class="btn btn-default" ui-sref="app.treinos">Voltar a listagem</button>
			<button class="btn btn-primary" id="cmd" ng-click="AceTreinoCtrl.gerarPdf()">PDF</button>
		</div>
	</div>
</div>