<div class="navbar navbar-fixed-top" role="navigation">
	<div class="container-fluid container">
		<div class="navbar-header">
			<span class="font-days navbar-brand" style="color: white; font-family: Arial Black;">Julliano Volpato</span>
            <button type="button" style="color: white;" class="navbar-toggle" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed">
                <i class="fa fa-bars"></i>
            </button>
        </div>
		<div class="navbar-collapse collapse" uib-collapse="!isCollapsed">
			<ul class="nav navbar-nav" style="margin-left: 10px;">				
				<li ui-sref-active="active" ><a ui-sref="admin.planos" ng-click="isCollapsed = !isCollapsed">Planos</a></li>				
				<li ui-sref-active="active"><a ui-sref="admin.treinos" ng-click="isCollapsed = !isCollapsed">Treinos</a></li>				
				<li ui-sref-active="active"><a ui-sref="admin.duvidas" ng-click="isCollapsed = !isCollapsed">Dúvidas<span class="badge" style="background: transparent;">{{NavbarCtrl.usuario.totalDuvidas}}</span></a></li>
				<li ui-sref-active="active"><a ui-sref="admin.usuarios" ng-click="isCollapsed = !isCollapsed">Usuarios</a></li>
				<li ui-sref-active="active"><a ui-sref="admin.modelos" ng-click="isCollapsed = !isCollapsed">Modelos</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" role="tablist">
				<li uib-dropdown uib-dropdown-toggle>
					<a href=""><span class="fa fa-user"></span>{{NavbarCtrl.usuario.nome}}<span class="caret"></span></a>
					<ul uib-dropdown-menu>
						<li><a ui-sref="app.conta"><span class="glyphicon glyphicon-cog"></span>Conta</a></li>
						<li class="divider"></li>
						<li><a href="" ng-click="NavbarCtrl.logout()"><span class="glyphicon glyphicon-log-out"></span>Sair</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
 