<div>	
	<div class="fundo-braco container-fluid">
		<div class="modal-header">
			<div class="col-md-6">
				<h3 class="modal-title marTop3" style="">Login</h3>
			</div>
			<div class="col-md-6">
				<button ng-click="ModalLogCtrl.cancelar()" class="btn botaoFechar "><span class="marLeft1">&times;</span></button>
			</div>
		</div>
		<form name="form" ng-submit="ModalLogCtrl.logar()" class="form-signin marBot10" method="post">
		    <h2 class="form-signin-heading">Usuário <span class="font-days">Tree-D</span></h2>
		    <div class="form-group">
		        <input type="email" class="form-control" name="email" placeholder="E-mail" ng-model="ModalLogCtrl.usuario.email" required>
		    </div>
		    <div class="form-group">
		        <input type="password" class="form-control" name="senha" placeholder="Senha" ng-model="ModalLogCtrl.usuario.senha" required>
		    </div>
		    <button class="btn btn-lg botaoLogin btn-block" type="submit"><span class="glyphicon glyphicon-log-in"></span> Entrar</button>
		</form>
	</div>
</div>