<div class="site-wrapper capa">

	<div class="site-wrapper-inner">

		<div class="cover-container">

			<div class="masthead clearfix">
				<div class="inner">
					<!--<a href="http://www.agrosatelite.com.br"><img class="masthead-brand" src="--{url_for('.media', filename='agrosatelite_branca_semfundo_300x51.png')}--"></a>-->
					<h3 class="masthead-brand">Consultoria</h3-->
					<ul class="nav masthead-nav">
						<li  ui-sref-active="active"><a ui-sref="index.start"><span class="glyphicon glyphicon-expand"></span> Apresentação</a></li>
						<li  ui-sref-active="active"><a ui-sref="index.signin"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
					</ul>
				</div>				
			</div>
			<div ui-view></div>
			<div class="mastfoot">
				<div class="innerRodape">
					<p style="width: 247px; margin: auto;">
						© <a href="http://www.agrosatelite.com.br">Julliano Volpato</a> Consultoria Fitness.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
