<div class="container">
	<p class="tituloPagina">ENTREGA DE TREINOS</p>
	<!-- <div class="input-group" style="padding-bottom: 20px;">
		<input class="form-control" type="text" ng-model="TreinoAdmCtrl.filtroTreino">
	</div> -->
	<uib-tabset active="activeJustified">
    	<uib-tab index="0" heading="Pendentes" ng-click="TreinoAdmCtrl.listar('pendente')">
			<div class="fundoBranco">
				<table class="table table-striped" id="table-usuarios" style="text-align:center;">
					<thead>
						<tr>
							<th class="col-md-1 text-center">Entregar</th>
							<th class="col-md-3 text-center">Cliente</th>
							<th class="col-md-2 text-center">Email</th>
							<th class="col-md-4 text-center">Pedido</th>
							<th class="col-md-1 text-center">Sessão</th>
							<th class="col-md-1 text-center">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="treino in TreinoAdmCtrl.treinosPendentes | orderBy:'data_entrega'" ng-class="TreinoAdmCtrl.classTreino(treino)"
							ng-click="TreinoAdmCtrl.liberarTreino(treino)">
							<td>{{treino.data_entrega}}</td>
							<td>{{treino.venda.usuario.nome}}</td>
							<td>{{treino.venda.usuario.email}}</td>
							<td>{{treino.venda.plano.titulo}}</td>
							<td class="text-center">{{treino.sessao}}</td>
							<td class="text-center"><i ng-class="{'fa fa-clock-o':treino.status == 'pendente', 'fa fa-check':treino.status == 'ativa'}"></i></td>
						</tr>
					</tbody>
				</table>
				<div ng-if="TreinoAdmCtrl.treinosPendentes.length == 0" style=" text-align: center; margin: 35px;font-size: 20px;">
					Não há treinos pendentes, melhore, venda mais!
				</div>
				<ul uib-pagination items-per-page="TreinoAdmCtrl.pagination.porPagina" total-items="TreinoAdmCtrl.pagination.totalItems" ng-model="TreinoAdmCtrl.pagination.paginaAtual" ng-change="TreinoAdmCtrl.filtrarPagina('pendente');" max-size="10" class="pagination-sm" boundary-link-numbers="true"></ul>
			</div>
		</uib-tab>
		<uib-tab index="1" heading="Entregues" ng-click="TreinoAdmCtrl.listar('ativa')">
			<div class="fundoBranco">
				<table class="table table-striped" id="table-usuarios" style="text-align:center;">
					<thead>
						<tr>
							<th class="col-md-1 text-center">Entregar</th>
							<th class="col-md-3 text-center">Cliente</th>
							<th class="col-md-2 text-center">Email</th>
							<th class="col-md-4 text-center">Pedido</th>
							<th class="col-md-1 text-center">Sessão</th>
							<th class="col-md-1 text-center">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="treino in TreinoAdmCtrl.treinosAtivos | orderBy:'data_disponibilizado'">
							<td>{{treino.data_disponibilizado}}</td>
							<td>{{treino.venda.usuario.nome_completo}}</td>
							<td>{{treino.venda.usuario.email}}</td>
							<td>{{treino.venda.plano.titulo}}</td>
							<td class="text-center">{{treino.sessao}}</td>
							<td class="text-center"><i ng-class="{'fa fa-clock-o':treino.status == 'pendente', 'fa fa-check':treino.status == 'ativa'}"></i></td>
						</tr>
					</tbody>
				</table>
				<ul uib-pagination items-per-page="TreinoAdmCtrl.pagination.porPagina" total-items="TreinoAdmCtrl.pagination.totalItems" ng-model="TreinoAdmCtrl.pagination.paginaAtual" ng-change="TreinoAdmCtrl.filtrarPagina('ativa');" max-size="10" class="pagination-sm" boundary-link-numbers="true"></ul>
			</div>
		</uib-tab>
  	</uib-tabset>
</div>