<p class="tituloPagina">ENTREGA DE TREINOS</p>
<div class="container">
	<div class="input-group" style="padding-bottom: 20px;">
		<input class="form-control" type="text" ng-model="TreinoAdmCtrl.filtroTreino">
	</div>
	<div class="fundoBranco">
		<table class="table" id="table-usuarios">
			<thead>
				<tr>
					<th class="col-md-2">Previsao</th>
					<th class="col-md-3">Cliente</th>
					<th class="col-md-2">Email</th>
					<th class="col-md-3">Pedido</th>
					<th class="col-md-1 text-center">Sessão</th>
					<th class="col-md-1 text-center">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="treino in TreinoAdmCtrl.treinos | filter:TreinoAdmCtrl.filtroTreino">
					<td>{{treino.data_entrega}}</td>
					<td>{{treino.plano.usuario.nome}}</td>
					<td>{{treino.plano.usuario.email}}</td>
					<td>{{treino.id}}</td>
					<td class="text-center">{{treino.sessao}}</td>
					<td class="text-center"><i ng-class="{'fa fa-clock-o':treino.status == 'pendente', 'fa fa-check':treino.status == 'ativa'}"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>