<div class="container">
	<p class="tituloPagina">100% Jullianooo - Entrega isso da melhor forma possível!</p>
	<uib-tabset active="activeJustified">
    	<uib-tab index="0" heading="Treino">
			<div class="fundoBranco">
				<p style="margin-bottom: 5px;"><strong>Plano: </strong>
					{{LibeTreinoAdmCtrl.treino.venda.plano.titulo}}
				</p>
				<p style="margin-bottom: 5px;"><strong>Sessão: </strong>
					{{LibeTreinoAdmCtrl.treino.sessao}}
				</p>
				<p style="margin-bottom: 5px;"><strong>Data de liberação: </strong>
					{{LibeTreinoAdmCtrl.treino.data_entrega | date:'dd/MM/yy'}}
				</p>
				<p style="margin-bottom: 5px;">
					<strong>Titulo: </strong>
					<select ng-options="modelo as modelo.titulo for modelo in LibeTreinoAdmCtrl.modelos" 
					class="texto-info analise form-control" ng-model="LibeTreinoAdmCtrl.modelo">
						<option label="" value=""></option>
					</select>
				</p>
				<p style="margin-bottom: 5px;"><strong>Explicação: </strong>
					<text-angular id="explicacao" ng-model="LibeTreinoAdmCtrl.modelo.explicacao"></text-angular>
					<!-- <div id="explicacao" ng-bind-html="LibeTreinoAdmCtrl.modelo.explicacao"></div> -->
				</p>
				<div>
					<button class="btn btn-default" ui-sref="admin.treinos">Voltar a listagem</button>
					<button class="btn btn-primary" ng-disabled="LibeTreinoAdmCtrl.treino.status == 'ativa'" ng-click="LibeTreinoAdmCtrl.salvar()">Liberar Treino</button>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1" heading="Formulário">
			<div class="fundoBranco">
				<p style="margin-bottom: 5px;"><strong>Peso: </strong>
					{{LibeTreinoAdmCtrl.treino.venda.formulario.peso}}
				</p>
				<p style="margin-bottom: 5px;"><strong>% Gordura: </strong>
					{{LibeTreinoAdmCtrl.treino.venda.formulario.bf}}
				</p>
				<p style="margin-bottom: 5px;"><strong>Cardápio atual: </strong>
					<div>{{LibeTreinoAdmCtrl.treino.venda.formulario.cardapio}}</div>
				</p>
				<div class="form-group col-md-6 col-xs-12">
					<div>
						<label class="text-form">Está treinando: *</label>
					</div>
					<div style="margin-left: 20px;">
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.treinando" ng-value="true">
					  		Sim
						</label>
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.treinando" ng-value="false">
					  		Não
						</label>
					</div>
				</div>
				<div class="form-group col-md-6 col-xs-12">
					<div>
						<label class="text-form">Solicitar ajuste:</label>
					</div>
					<textarea class="text-form" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.ajuste" style="height: 100px; width: 450px;"></textarea>
					<div>
						<button type="submit" ng-click="LibeTreinoAdmCtrl.ajusteFormulario()" ng-disabled="!LibeTreinoAdmCtrl.treino.venda.formulario.ajuste" class="btn btn-success">Salvar</button>
					</div>
				</div>
				<p style="margin-bottom: 5px;"><strong>Experiência: </strong>
					{{LibeTreinoAdmCtrl.treino.venda.formulario.experiencia}}
				</p>
				<div class="form-group">
					<div>
						<label class="text-form">Faz questão de aeróbico: *</label>
					</div>
					<div style="margin-left: 20px;">
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.aerobico" ng-value="true">
					  		Sim
						</label>
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.aerobico" ng-value="false">
					  		Não
						</label>
					</div>
				</div>
				<p style="margin-bottom: 5px;"><strong>Preferência: </strong>
					{{LibeTreinoAdmCtrl.treino.venda.formulario.aerobicoPreferido}}
				</p>
				<div class="weekDays-selector form-group" style="display: grid;">
					<label class="text-form">Disponibilidade para treinos na semana:</label>
					<input type="checkbox" id="weekday1-mon" class="weekday1" checklist-model="CliFormCtrl.treino.venda.formulario.disponibilidade" checklist-value="'segunda'"/>
				  	<label for="weekday1-mon">Segunda</label>
				  	<input type="checkbox" id="weekday1-tue" class="weekday1" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.disponibilidade" checklist-value="'terca'"/>
				  	<label for="weekday1-tue">Terça</label>
				  	<input type="checkbox" id="weekday1-wed" class="weekday1" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.disponibilidade" checklist-value="'quarta'"/>
				  	<label for="weekday1-wed">Quarta</label>
				  	<input type="checkbox" id="weekday1-thu" class="weekday1" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.disponibilidade" checklist-value="'quinta'"/>
				  	<label for="weekday1-thu">Quinta</label>
				  	<input type="checkbox" id="weekday1-fri" class="weekday1" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.disponibilidade" checklist-value="'sexta'"/>
				  	<label for="weekday1-fri">Sexta</label>
				  	<input type="checkbox" id="weekday1-sat" class="weekday1" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.disponibilidade" checklist-value="'sabado'"/>
				  	<label for="weekday1-sat">Sábado</label>
				  	<input type="checkbox" id="weekday1-sun" class="weekday1" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.disponibilidade" checklist-value="'domingo'"/>
				  	<label for="weekday1-sun">Domingo</label>
				</div>
				<div class="form-group">
					<div>
						<label class="text-form">Pratica atividade extra: *</label>
					</div>
					<div style="margin-left: 20px;">
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.extra" ng-value="true" required>
					  		Sim
						</label>
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.extra" ng-value="false" required>
					  		Não
						</label>
					</div>
				</div>
				<div class="weekDays-selector form-group" style="display: grid;" ng-if="LibeTreinoAdmCtrl.treino.venda.formulario.extra == true">
					<label class="text-form">Frequência: *</label>
					<input type="checkbox" id="weekday-mon" class="weekday" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.extra_disponibilidade" checklist-value="'segunda'"/>
				  	<label for="weekday-mon">Segunda</label>
				  	<input type="checkbox" id="weekday-tue" class="weekday" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.extra_disponibilidade" checklist-value="'terca'"/>
				  	<label for="weekday-tue">Terça</label>
				  	<input type="checkbox" id="weekday-wed" class="weekday" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.extra_disponibilidade" checklist-value="'quarta'"/>
				  	<label for="weekday-wed">Quarta</label>
				  	<input type="checkbox" id="weekday-thu" class="weekday" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.extra_disponibilidade" checklist-value="'quinta'"/>
				  	<label for="weekday-thu">Quinta</label>
				  	<input type="checkbox" id="weekday-fri" class="weekday" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.extra_disponibilidade" checklist-value="'sexta'"/>
				  	<label for="weekday-fri">Sexta</label>
				  	<input type="checkbox" id="weekday-sat" class="weekday" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.extra_disponibilidade" checklist-value="'sabado'"/>
				  	<label for="weekday-sat">Sábado</label>
				  	<input type="checkbox" id="weekday-sun" class="weekday" checklist-model="LibeTreinoAdmCtrl.treino.venda.formulario.extra_disponibilidade" checklist-value="'domingo'"/>
				  	<label for="weekday-sun">Domingo</label>
				</div>
				<div class="form-group">
					<div>
						<label class="text-form">Fumante: *</label>
					</div>
					<div style="margin-left: 20px;">
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.fumante" ng-value="true" required>
					  		Sim
						</label>
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.fumante" ng-value="false" required>
					  		Não
						</label>
					</div>
				</div>
				<div class="form-group">
					<div>
						<label class="text-form">Bebe: *</label>
					</div>
					<div style="margin-left: 20px;" class="form-group">
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.bebe" ng-value="true" required>
					  		Sim
						</label>
						<label>
					  		<input type="radio" ng-model="LibeTreinoAdmCtrl.treino.venda.formulario.bebe" ng-value="false" required>
					  		Não
						</label>
					</div>
					<p style="margin-bottom: 5px;"><strong>Bebe: </strong>
						{{LibeTreinoAdmCtrl.treino.venda.formulario.bebe_frequencia}}
					</p>
				</div>
				<p style="margin-bottom: 5px;"><strong>Melhor treino até o momento: </strong>
					<div>{{LibeTreinoAdmCtrl.treino.venda.formulario.melhorTreino}}</div>
				</p>
				<p style="margin-bottom: 5px;"><strong>Último treino: </strong>
					<div>{{LibeTreinoAdmCtrl.treino.venda.formulario.ultimoTreino}}</div>
				</p>
				<p style="margin-bottom: 5px;"><strong>Exercícios preferidos: </strong>
					<div>{{LibeTreinoAdmCtrl.treino.venda.formulario.exerGosta}}</div>
				</p>
				<p style="margin-bottom: 5px;"><strong>Exercícios que não gosta: </strong>
					<div>{{LibeTreinoAdmCtrl.treino.venda.formulario.exerOdeia}}</div>
				</p>
				<p style="margin-bottom: 5px;"><strong>Patologia: </strong>
					<div>{{LibeTreinoAdmCtrl.treino.venda.formulario.patologia}}</div>
				</p>
				<p style="margin-bottom: 5px;"><strong>Problema articular: </strong>
					<div>{{LibeTreinoAdmCtrl.treino.venda.formulario.articulacao}}</div>
				</p>
				<p style="margin-bottom: 5px;"><strong>Objetivo: </strong>
					<div>{{LibeTreinoAdmCtrl.treino.venda.formulario.objetivo}}</div>
				</p>
				<p style="margin-bottom: 5px;"><strong>Observações: </strong>
					<div>{{LibeTreinoAdmCtrl.treino.venda.formulario.obs}}</div>
				</p>
			</div>
		</uib-tab>
		<uib-tab index="2" heading="Treinos Antigos">
			<div class="fundoBranco">
				<table class="table" id="table-usuarios">
					<thead>
						<tr>
							<th class="col-md-1">#</th>
							<th class="col-md-3">Entregue em</th>
							<th class="col-md-6">Titulo</th>
							<th class="col-md-1 text-center">Sessão</th>
							<th class="col-md-1 text-center">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="treino in LibeTreinoAdmCtrl.treino.venda.treinos | orderBy: treino.id">
							<td class="text-center">{{treino.id}}</td>
							<td>{{treino.data_entrega}}</td>
							<td>{{treino.nome}}</td>
							<td class="text-center">{{treino.sessao}}</td>
							<td class="text-center"><i ng-class="{'fa fa-clock-o':treino.status == 'pendente', 'fa fa-check':treino.status == 'ativa'}"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</uib-tab>
  	</uib-tabset>
</div>