<p class="tituloPagina">ENTREGA DE TREINOS</p>
<div class="container">
	<div class="input-group" style="padding-bottom: 20px;">
		<input class="form-control" type="text" ng-model="TreinoAdmCtrl.filtroUsuario">
	</div>
	<div class="fundoBranco">
		<table class="table" id="table-usuarios">
			<thead>
				<tr>
					<th class="col-md-2">Previsao</th>
					<th class="col-md-3">Cliente</th>
					<th class="col-md-3">Email</th>
					<th class="col-md-3">Pedido</th>
					<th class="col-md-1">Sessão</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="treino in TreinoAdmCtrl.usuarios | filter:TreinoAdmCtrl.filtroUsuario" ng-class="{'usuario-inativo':!usuario.ativo}"
				 class="odd gradeX" ng-click="TreinoAdmCtrl.selecionarUsuario(usuario)">
					<th>{{treino.previsao}}</th>
					<th>{{treino.plano.usuario.nome}}</th>
					<th>{{treino.plano.usuario.email}}</th>
					<th>{{treino.id}}</th>
					<th>{{treino.sessao}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>