<div class="container">
	<p class="tituloPagina">Descrição da metodologia aplicada</p>
	<div class="fundoBranco col-md-12 col-xs-12">
		<div class="col-md-12 col-xs-12" style="padding: 10px 10px;text-align: justify;">
			<h4>Método:</h4>
			<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px;">
				O Bi-Set consiste em executar consecutivamente dois movimentos para o mesmo grupamento muscular. Um exemplo seria realizar a puxada por trás e, logo em seguida, a remada sentada.
			</p>
			<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px;">
				Podemos justificar o uso deste método por meio dos conceitos vistos no drop-set e na pré-exaustão, acrescentando a variação intencional no padrão motor. Ao final do primeiro exercício, um determinado número de unidades motoras não poderia mais ser recrutado, impedindo a execução do movimento, porém a mudança para um exercício com padrões motores diferentes (e cargas adequadas à nova condição) permitiria o prosseguimento do estímulo, aumentando o tempo sob tensão e prolongando o estresse metabólico.
			</p>
			<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px;">
				O maior tempo sob tensão seria interessante para aproveitar estímulos tensionais; já a contração prolongada poderá causar, além do acúmulo de metabólitos, aumento posterior na circulação, com maior disponibilidade de nutrientes. Resta saber se estas alterações na osmolaridade, proveniente da alteração das concentrações de íons e fluidos nos músculos, também poderiam ajudar no processo de hipertrofia, conforme os resultados obtidos por BERNEIS et al., 1999.
			</p>
			<li style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				Então, para este método, os fatores de hipertrofia seriam:
				<ul>
					- Eventos Postranscricionais
				</ul>
				<ul>
					- Alteração na Osmolaridade
				</ul>
			</li>
			</br>
			<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px;">	
				PS: Explicação retirada do livro Bases Científicas para o Treinamento de Hipertrofia
				(Paulo Gentil)
			</p>
	  	</div>
	</div>
</div>