<div class="container">
	<p class="tituloPagina">Descrição da metodologia aplicada</p>
	<div class="fundoBranco col-md-12 col-xs-12">
		<div class="col-md-12 col-xs-12">
			<h4>Método</h4>
			<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px;">
				Utilização de movimentos para grandes grupamentos musculares, com elevado número de repetições e cadência um pouco mais lenta, afim de que o aprendizado motor seja estimulado com maior eficiência.
			</p>
			<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px;">
				Estímulo Metabólico: Caracterizado por um elevado número de repetições com curtos intervalos de descanso
			</p>
			<li style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				Então, para este método, os fatores de hipertrofia seriam:
				<ul>
					- Eventos Postranscricionais
				</ul>
				<ul>
					- Alteração na Osmolaridade
				</ul>
			</li>
			<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px;">	
				Info: Descrição do método foi retirada do livro Bases Científicas para o Treinamento de Hipertrofia
				(Paulo Gentil)
			</p>
	  	</div>
	</div>
</div>