<div class="container">
	<p class="tituloPagina">Descrição da metodologia aplicada</p>
	<div class="fundoBranco col-md-12 col-xs-12">
		<div class="col-md-12 col-xs-12">
			<h4>Método de Oclusão Vascular: </h4>
			<p style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				Método idealizado pelo japonês Yoshiaki Sato na década de 60. Sato relata que após participar de uma missa budista, onde sentava sobre as pernas por um longo período, sentiu suas panturrilhas formigarem, percebendo um inchaço e queimação local. Enquanto massageava a região para amenizar o desconforto, relacionou essas sensações e sintomas semelhantes aos ocorridos em seus treinamentos com pesos, sobretudos os de panturrilha. Sato et al., 2005
			</p>
			<p style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				- Em 1973, Sato sofreu um acidente esquiando, fraturando os tornozelos e lesionando o ligamento colateral medial do joelho direito. Recusando o tratamento cirúrgico recorreu aos métodos de oclusão vascular, e após duas semanas de imobilização sua musculatura havia hipertrofiado e com dois meses seus ossos estavam calcificados e seus ligamentos recuperados. Sato et al., 2005
			</p>
			<p style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				- Posteriormente, o uso das manobras com oclusão vascular mostrou-se eficiente na diminuição da atrofia muscular em pacientes imobilizados decorrentes de intervenções cirúrgicas em relação a um grupo que não realizou o procedimento. Takarada et al., 2000 Resultados interessantes são encontrados também em grupamentos musculares não submetidos diretamente a oclusão vascular como no estudo de Cook 2013, onde atletas obtiveram resultados significativos no aumento de força e potência submetidos a treinamentos de moderada intensidade com oclusão vascular com o supino, indicando que outros grupamentos musculares podem se beneficiar do método. Cook et al., 2013
			</p>
			<p style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				- Alguns estudos têm mostrado que não só a hipóxia local, mas também a hipóxia sistêmica pode produzir alterações metabólicas e hormonais similares ao dos treinamentos com oclusão vascular em indivíduos submetidos a treinamentos de baixa intensidade. DHulst et al., 2013, Kon et al., 2010, Kon et al., 2012 
			</p>
			<p style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				Quando se reduz o fluxo sanguíneo para os músculos (como no caso da contrações musculares), a demanda de nutrientes e oxigênio é reduzida levando à queda do bombeamento iônico da membrana. Com isso o sódio que, geralmente, é acumulado no meio extracelular, irá ser encontrado no exterior da membrana. Este excesso de sódio causa movimentação da água, por osmose, gerando um aumento no volume celular, ou seja, da hipertrofia, que por definição é, exatamente isto, aumento da secção transversa do músculo.
			</p>
			<li style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				Então, para este método, os fatores de hipertrofia seriam:
				<ul>
					- Eventos Postranscricionais
				</ul>
				<ul>
					- Alteração na Osmolaridade
				</ul>
			</li>
			<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px;">	
				Info: Descrição do método foi retirada do livro Bases Científicas para o Treinamento de Hipertrofia
				(Paulo Gentil)
			</p>
			</h4>
	  	</div>
	</div>
</div>