<div class="container">
	<p class="tituloPagina">Descrição da metodologia aplicada</p>
	<div class="fundoBranco col-md-12 col-xs-12">
		<div class="col-md-12 col-xs-12">
			<h4>Estímulo Tensional: </h4> 
			<p style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				Caracterizado por um baixo intervalo número de repetições e elevado intervalo de descanso, com valorização na fase excêntrica do movimento.
			</p>
			<li style="font-size: 18px;margin-bottom: 25px;line-height: 30px;">
				Então, para este método, os fatores de hipertrofia seriam:
				<ul>
					- Mircrolesões
				</ul>
				<ul>
					- Mecanotransdução
				</ul>
			</li>
			<p style="font-size: 18px; margin-bottom: 25px; line-height: 30px;">	
				Info: Descrição do método foi retirada do livro Bases Científicas para o Treinamento de Hipertrofia
				(Paulo Gentil)
			</p>
	  	</div>
	</div>
</div>